[Unit]
Description=Snipe-IT backend database quadlet

[Container]
Image=docker.io/mariadb:11
ContainerName=snipe-mariadb
AutoUpdate=registery
EnvironmentFile=/home/awm/services/snipe-it/env.sh
Network=snipe.network
Volume=snipe-mariadb-vol:/var/lib/mysql

[Service]
Restart=always

[Install]
WantedBy=snipe.service multi-user.target default.target
