secrets:
  email:
    address:  foo@example.com
    username: foo
    password: asdf1234
    server:   mail.example.com

  services:
    partdb:
      trusted_proxies: 10.0.0.0/24
      mysql:
        user_password: asdf1234
        root_password: asdf1234
    snipe:
      app_key: abcdef1234567890
      mysql:
        user_password: asdf1234
        root_password: asdf1234
    backup:
      key_arn:  arn:aws:kms:us-west-1:1234567890:key/12345678-1234-1234-1234-1234567890ab
      bucket:   foo-backups
      region:   us-west-1
    traefik:
      users:
        - foo:$2y$05$abcdef1234567890

  apis:
    digikey:
      client_id:  abcdef1234567890
      secret:     abcdef1234567890
    mouser:
      key:    abcdef1234567890
    easydns:
      key:    abcdef1234567890
      token:  abcdef1234567890
    aws:
      key:    abcdef1234567890
      secret: abcdef1234567890
